<a class="uk-button uk-button-default" href="#modal-center" uk-toggle>Open</a>

<div id="modal-center" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

        <button class="uk-modal-close-default" type="button" uk-close></button>
<h1 class="uk-align-center">Iniciar Secion</h1>
        <button class="uk-button uk-button-primary uk-width-1-1">Facebook</button>
        <button class="uk-button uk-button-secondary uk-width-1-1 uk-margin-small-bottom">Google</button>
    </div>
</div>