<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-right">

        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="#">Inicio</a></li>
            <li><a href="#">Buscar</a></li>
            <li><a href="#">Afiliar Restaurante</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Entra o Registrate</a></li>

        </ul>
    </div>
</nav>
