<div class="uk-child-width-1-4@m" uk-grid>
  <div>
      <div class="uk-card uk-card-default">
        <div class="uk-card-media-top">
            <img src="https://getuikit.com/docs/images/light.jpg" alt="">
        </div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">Titulo</h3>
            <p>Descripcion</p>
        </div>
      </div>
  </div>